<h3>Techniques</h3>
<a routerLink="/techniques/create" class="btn btn-primary btn-sm mr-2">Create Technique</a>
<br />
<br />
<table class="table table-bordered table-striped"> 
  <thead>
    <tr>
      <th>Description</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tech of techniques">
      <td>{{tech.description}}</td>
      <td>{{tech.techniqueType.description}}</td>
      <td><button class="btn btn-sm btn-primary">Edit</button></td>
    </tr>
  </tbody>
</table>
